<!doctype html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <title>Домівка — MyBlog</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    {{>header}}
    <main>
      <section class="home">
        <p class="welcome__message">
          Welcome to my blog web-site. This is a simple blog where you can
          create and read posts.
        </p>
        <a href="http://localhost:3000/record" class="primary">View posts</a>
      </section>
    </main>
  </body>
</html>
