<header>
  <div class="container">
    <h1 class="logo">MyBlog</h1>
    <nav>
      <a href="http://localhost:3000/">Home</a>
      <a href="http://localhost:3000/record">Records</a>
    </nav>
  </div>
</header>
