<footer>
  <div class="footer-content">
    <div class="page-info">
      © 2025 Weather page for laboratory work №4
    </div>
    <div class="contacts">
      <h2>Контакти</h2>
      <ul>
        <li>тел: +380990888088</li>
        <li>email: weather@gmail.com</li>
      </ul>
    </div>
  </div>
</footer>