<header>
  <div class="header-content">
    <div class="logo">
      <img src="../Assets/logo.png" alt="page logo" />
    </div>
    <nav>
      <ul class="nav-options">
        <li><i class="fa-solid fa-circle"></i> UA</li>
        <li><a href="/">Home page</a></li>
      </ul>
    </nav>
  </div>
</header>